body {
    font-family: 'Microsoft YaHei UI';
    padding: 10px;
    background-color: #fff;
}

/* Stat items */

.stat {
    padding: 2px 0;
    margin: 5px;
}
.stat img {
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: 3px;
}
.stat span {
    margin-left: 5px;
}

h5{
    margin: 5px;
    margin-top: 15px;
}

#bottom_bar{
    padding: 12px;
}
#bottom_about {
    color: #fff;
    display: inline-block;
    float: left;
    background-color: #0094ff;
    border-radius: 50%;
    text-decoration: none;
    padding: 3px 10px;
    margin-top: 3px;
    margin-left: 10px;
}
#bottom_about:hover {
    background-color: #54b7ff;
}
#bottom_about_text {
    color: #a1a1a1;
    display: inline-block;
    position: absolute;
    margin-top: 5px;
    left: 55px;
}
#exten_area{
    display:block;
}
#status_area {
    display: block;
    width: 100%;
    height: 110px;
}
#xstate {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 35px;
}

/* Icons */

.xico {
    display: inline-block;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAAAQCAYAAADpunr5AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAVdSURBVFhH7VjfSxxXGL201JBS6m4fWorWrJKXmqSlNe72uT6oL/0HSp9LH1yVgpRi8cFSUGiikog+iL9Ndle62PgiISBIWESpK0iUlmqjaVEQrD8QjSa358x+M5l1767u+tQ2Bw4z97vfmZl7vpk7d0adRFHIX+oLB24URwKL4EGC/keMsU/S0uIP9Ubpn8p744nyLmJ7IHzEGPsk7SVSEC7Ng8m3YPgzcBeM0nQpRlRi7OsqDBVeFJWDBaXyYPIt8Bm4iwJEaTop+7uJPk/XqlIp+v8ZXqmuro7JPkDzI4H7YnBrSbgsX3ocMMY+yXlAjXTZ5t8Xg1t/V94UPWPsS+R4H1AjXclIXEsQ54iBLDoZY8x9znRIXIsniHPEQBadxL4nmPacLjQ1NeUNDQ0Fh4eHY+CuMMYY+yTtXKioqChBAX6WplK+iP82BvncF/J/IaG0YI6Vi6dFQgoDvA0+X1OeU/XMYS7o6G0Uhj4swLHnSkY/0SayjzmSnoJVdbEAx537S72lTWQfcyQ9BX19fQUwe25kZESbyD7mSHpOqKqqehP8obKy8ksr8F6k/AoGdowi/GgFzgDk80k4pvax8l7BwI5xh51ZL0/CMbUSsu78TObbRE5ctV++ICoH8hSmNd8mcuK/KpWi592dyXybyIm3t7en6Amaizv7O/AhOJuB35eVlb1miTCgm+B+0fA1rxVIg+LQx9cwDUS4L9PRPrWY329iUPuPVb6jR+wnxCqlibbnM5h+R5oyHXn3qZWQ8oXLa0yGm8hckTnA8WtMhpvIXJE5GBwcrDEZbiJzRZYEGgt+zUJI6HTAxEVMJ/ekqYqGr5fIroOCQX8h8laLw+WfSwiGBe5RCxO52nH0xKryViG2xSIkzPduran8T6XbAjXUSpPXETOZbSJzReYAx4uZzDaRuSJzwHneZLaJzBWZA97RMP8hzDc+HWmBwRy6px8sOafAb6Wp3u0ue704HPilJBz4RkIWqKEWgwFTpx9XEVLMJ6ihVprWdZjMNhG5ByJzwGOZzDYRuSl6mHpoMttE5Dr63t7ezv7+fp0LqU0pwDsDH7yN2G/FocBXKqxeRTHGwE7pdiAF4ArDWAD7zgf/Bp3pyIYUYFea2RbA0dngdZjMNtF9XhtZFsDR9/T06JWVFT07O6uXl5fPtCWpoZYDT5qCCN/QR5cQXwUnWQAWQrocWIUJBxZMU5B72nFPR9JtAe0xFAHvzgRwrn/lFNTV1aWnpqb00dGRnpycPHV7eHhokRpqOXDjS/jSncD7LAynIAk5ePES9rfxRYoBJb2EYexd97QjReiXpvsl3CYhPFGBoMlsE61vghPAOYMms01krsgccJ1vMttE5opMYUWkp6en9fj4eFakhlpVePf6VZiZ0zKUWph7FWbmtAylVkIYyeULOGbcZLibvrB/3rQM5dISx4ybDHcTOfOmZSiXlriz4ybD3UTOvHsZ2traqpeWlnQkEtE7OzsZt1tbW3pjY0Nvbm7qsbExTa11EJif/YcYNBLi45/Lh5ijt3GGD7H4OT/E4uf8EIuf/BBrbm7WExMTemBgICOj0WhSmxpqE0dJ/hXRkuFXRIvkpP0Vgfm/Jd2vCPYxB8z8KyIUqMX7ZQbn2bOIfcay+BVRi3PMgHtC7Htq057TBfkgqwVnwD0h92tNvyIaGxstQ7e3t3V3d7deX1/Xa2trSWTM7rO31FArhwE48Jc/47JGQ0ODHh0d1R0dHVxWWlsT7T57Sw21cpgXSPya8LfB6CXwKcg7cIExzvmSlhb8vcCXK8xeAp+CuAM9XC21Jc35/xHU1dV11tfX61xYV1fX+Q83wdJMar8HngAAAABJRU5ErkJggg==);
    background-position: 0 0;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
}
.ico-grey{
    background-position: -64px 0;
}
.ico-green {
    background-position: -32px 0;
}
.ico-red {
    background-position: -48px 0;
}
.ico-keyboard {
    background-position: -80px 0;
}
.ico-ctl-yes {
    background-position: 0 0;
}
.ico-ctl-no {
    background-position: -16px 0;
}

.xstate {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAAAoCAYAAAAlg+WVAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAB6eSURBVHhe7X0JWFRXmrYzmXQn3Z1/Zv7p6e50zx+NphMnkxi3IHsBgktcQKNmNRqNK4oIKLixqGwi+yKbYtwFXFERQZBiX0SQXXZQEERRE1fQ9//OrSqogltQVeBCT93neZ97695bl5fvvN97vnPr3Koh6kW9qBf18sIWTU3Nty9duhSen5+fUVp8NZWhpEgWXfsLZCDZX8q2+8LV7siXi8L8K+m0nLGyshopza+4uDiVoaioSAbK7lcEV69e7QHJsYKCAl5+XXFSx+8fMX5dPNT8+HhJIM1viJ6e3vvNN2/eb38OVN98iNqWR7je+hg3bj/hcJ1QSfvrW2n7zlM0ECqaHqGy5THKaF3V+hTVtxnaUX2HoQPVbWLcfSbCPYbnqL7PANQw/NINv9LfJ1Q+AB5BtJiZmS1h/G4Sv2fPnqGpqQnNzc24desWWltbO9HY2Ciz78aNG9y5169f585vaWmRATtXGtLXun37Ni/u3LnTud3R0SHDT9H43Wh7iht329FIaGhrR9WtJ+r4DQL9qfmpzm/I2LFjP21pamjNKruNCbYX5MMuHhM2xENzYwI0N12E5uZEaG5JgpZ9MrQchdBySoH2tlRob0+HjksGdNyyoOOeDV2PXOh6Xoae1xXo+eRD3+8q9AOKoB9UDEFwKQSh5TAIuwaD3ZUwjKiG4c81CCl/zBGcO3euBeNHYm8tKSmBubl5r1i1ahVWr17NwcLCAmvWrIGlpSXWrl3LwdraGjY2Nli3bh3Wr18PW1tb2NnZYcOGDdi0aRM2b96MLVu2wN7eHg4ODnBycsLWrVuxbds2bN++HS4uLnB1dQW5sww/Sfw0lp3AF7axmOsYj3mOCfh660WY2ifgk2WnMGXzRXzrmY5vvDLwnV82Znll4rMNlzBmSwrGOaVh7LYMjHfJwnj3XHzukYfPPa/gc5+r0PAvhEZgCSbsKsOEkHJMCKuAZnglNCOqoLm3Glr7agl10DpQj3GHrmPooaZBGz9e3UnwCvU3WPgx/emYnyKchi7BaO0Z6FnEYPyyk9BZHQMjm1joEU9dmwvQtkvA2JegvyGjR4/+rKmxoTXn2h3+wDG8xOAZ7a+DV/FDjuCcOXPWMH7Uo7aWlZXxJoUELys53N3dkZSUJMNPEj8jqzP4bnsiFrgk4QfXJCzcIcS87ZegYXkOZs7JWByQhXkeafieDOYr/xyKWyp0nDOgS/HS3ZGDmU7xCJu6HKbOSRSnQgh2UZxCSihGZTAIpzhFVFCMqmC4j2J1oBaGB+tgdLieg8HR65hw7Cbei2oZtPHj1R7DK9bfYOGnb3EaBmtiYECmwoxGQGtmMBorTsGQzGXKhjgI1sfBeEsiDOxJl1uEMvrTY1x8rhCPggHTX5fBlMtx6JccPCNyQs8ykQNKJ0hpaSlvYjC8zORgoDGvDD9J/CbZnMUCMpb5ZBDzXS/he7dkmG5NgobVecx2TcGSoBz8FJiNeT5ZMHHL4GKm65opatyduQibshyV77yD8GkrIQgqojiVUJwkjUtx2itu3P01osY9xBq4AUZHGqAT2YjRJ1rwl+N3Bm38VNXfDA8h1u1Jhtv+eA6WoQmY5pkyYPp73fNDws/QksyFDEbXOha6Vuc4czGi7QnUwU3cGA8BVdEC+0QYEh+97WnQ6qY/PW8pcxkg/XUaTC6fQ7+C4BlRmeVdKhrFSSeIvB5YkeTYFRyMjMxMVNfUorq6BqlpaQgOCVEpOXbs2IHk5GQZfpL4sZJ0ks05mJDRGK+PhbHdBRgSJljH4YttyfjSIx0LArKxOCQPXwXlcTFjvYcexUvP6zLCp64QG4y5uPcoFfUeuylWeylWrPdgjUu9h6hxKV7UuALqPcZT7/Hfp2/j/568O+DxG0hz6S1+qujPIzobtdebcO/+L2jveI5HT9rR0nobhSXlcNifKO6R+6e//vB7Gfkh4ccqFl2qXLRprbX2LHTIZAxs4zj96VLFYuh4CQLHZAichNAn6JDJSOtPn3HxJ4MJJHMZIP2JDOYGTwBfUfCMo5sRXnC/k2BvCaJIchyNjEJdfQOKS8sgTEmDMDUNRSWlKKHXhw4fUTo5vL29IRQKZfhJ4jeVTMVs8wXM23oR37om40evNMx2EWLC+guY5JSMmTvSYUr4xj8Xq7ySED5pKWbYx3WWpuFfiA1mOhmMuDQ1887AbrM1mEXDKr7S1JAaVzO6CaNO3sL75+5hWOTAxm+gzaW3+Cmrv/3xBXj85Cnu/fIAjY03kZKVByGhijqSxqZmNDXfgvv+2H7rr7/5odtLfggGID8k/IytzkJAFYwemYsuDYX01p+H0QYRXz0yGAFpkBmMwbYUGLqkQsD48A2NGBfJ0IiZi3T1oqT++A3mVZlLVBMmnbmLsKt9J4giyeHj68uZSWzcBezw8OCSYhMlhZeXN+ITEpGemQU//wCFk8PLywsBAQFyE+Qrp4tY4HYJC6lkX+iZhkW+GZi5XQgN23h87ZOJpWFXMJeGR1/75yB65krOTMImLcPMbQnQ983vZjClZC7p2G1qwe3bPdtSXJrK9h56kTcw9ngLPjzThpExdzBuX/2AxW+gzaWv+Cmjv9WhKXja3o7bbW2ITUyDqcNhCLbTEICGqLNcY3AiIQM3yHTq6m9gvvfpfulP1fxgVcJ1bRM0jdGGHuWIdH7o03Dk+kprVPx1JL72ThsQfqx6FlAVLSBj0aPKRZ84GhAmbEiAYKuQM5iJLukwouG5yc5sGHjkcJz0vPM4/cnee6HqJZz4SKqXzqGRcvrraTCvyFwmHm3EpJg2DqF9JIgiycGS4lzsecSej+NE3z053Nzc6HgcVTjRXGL0lRw7d+6Ev78/B3kJwm7wzndLxsKdqVhE5rAkIAvTmcHYXcRXvjQ0IoNZHJqHJbvzMd85gcxlqchQaGhkup0qGskQiQzGjKqfTnOZRRVMYG6P0pTdWNM41oSPqTT9OzUwa2yNfbUDEr+BNhdF4qeo/nRIf2mFNXjytANp2XkwsD/dQ39GnulIzSvBrdY72HcijjRYrLL+VMkPI4dEXNcxQcUfh3O4MUYH+uw+h9hcGs3XdR4r/vOHmBSQ329+E6lyMeQMRly9bCSDIW7axG2iM1UsZDCGtDZ2TcdkL+JCBsOqF85cfMlcfJjBXOUqmK7qRXxjl2dopIj+Og3mSmXbqzOXIzdgfPwWTE7e5sCXIBUVFUolB6tUDh46gqCgYLnJERa+Gz/vPwBnZ+c+k8PHxwe+VBEx8CUIi9+iHUL84C7Et+4pmOeWgjnuqZhI494JGxPxjV8Olu4uwMLQK5gfwhIgFzMcLnTd2P1iJUxdyGSm0XpHCnbPXN1lLgE51LiS3oNixkpTamCdqEZ8RqUpa1xWphrT/s/31Q1I/AbaXBSJn6L6m0IxfvDgIZ60d2Cd7xG5+rPZk4D7v/yKpEvJmOQtVFl/quTHze9+6jSQSvG6ZpQ2jKlyaFzVZS4SXP2vT/vNz4QqmInW56BrR9WL3QUYb4qnIdEl6DimcKYyZUcmpvvkYCpxYPrjqhcvql78KGb+FDPu/ouoguEMZk9FV/Wiov66DKaaAviqzCWqGcbHWjohL0GUSQ47Sg5v3wAyDxe5yeHm5g6/gEBsoyTpLTlYac/uHUjAmyAUP/YxoJ51LPUecdBez8rpeGhtoh5kyyVMcqNegxrYyD0Lgh1UnlIjs8adSVUPGxqZuglFN9fY3XsqT01ZBWNmITIXntJUn3qL8cebRWUprSeK9/dmMK/KXBSNn6L6m+OTil9+fYB793/Fkh1H5epvSWgiWu+04WJSMqZ7J6isP1Xyw2PmelT+5e+ceUgMhqHq/VGd2xJcI3h+49BvfhPJYPTWEsT60yRI9MdVLjuyYNhNf6KYMWOhmEnpT8AMhlUvcoZGiuqv02AuV5ALvQJzmXi0iSv/OhHZRATvdRKUJEh5eblyyUGJYbNyBaxWmctNjnUWq2FjvgLbtjvLTQ5PT09uLQF7zZcgLH7aa85i3OqzmGB1nho3HvpWR2BsEQwTi0CYrNkFY0uC9W6upDfZHoNJm/dj8sa9mLxJBEEgxY2Nf0NLMcV+P6Y6HcTUrYcxxSUKJoFpMAlKw1S3Y5jqEomJbtEU/xPQ9YqByS4aV1Pj9mYwSsdvgMxFmfgpqj99Muup9pGYYX8YBs7xcvW3NDwVzS23cD4+gXruRJX1p2p+bJ/niIo/fdDDULrDb/7WfuWHPP1pbbzIDY8E66NIe6Gc/kysQqjSCcWUjREwcomDkWscJm05INbgz5i8mWC/j9PflG1HYeKXAhP/FEx1jcZU56MikP6MPE5i3J7LGHWytVN7vRtM5d2Xby5HGmF0kIhJg46FFNztJChJkGvXrimcHA7+wfA7l4iAyOPwizwJn5Ox8D1xDr7HYuB3/Az8T8XCP+YC/KNOIeDocQTFp2BHxP4eycHAtrujx8es4vix+Qcaa2OhRT2HnuUhmK0NwOmENFRWVqGhoQE1NbU4m5QJwXJ3CMx3Ioa2pY91fTRY3rW/thbnUnJgtC4ARusDECPMRmWV1LHUXMx1OwTjQBr392IwysRvoMxF2fgNtP6+DcnB9dvAkVP5MA7IVVl/yvDjJq0RP+6jX+K39VtnVP51JK+xVPznCOxa7tHv/ODTn9YGMheqXvRtjsLMJginL6bLaO1cMlUypEHBKk8ZHcqcQ7oztPGH4Tp/xCTL6u5M2mVM8YyCUVAq8SReChnMyzQXcmbD/bXcMRnQeSH5/AajaHJ4JOXhUEsHIh8CR38FDjd34FDTE0TS/83Attk+doydc6jlGbyEBT16XnYjmCWONNi+HhPFJA28Lg4a1nHQskuA/lJvnIhLhqWjFz4w/hHvCeZz7w0JCZEB2zd0yhJ8OGOFqDSl6oVNbPrQbCWGTV8m9z1/+nINPpi7BlbuQTiZmI6JTgf6NJiXXbkwnsrETxH9zdyZANuQA1gXdphwEOtC98EmJALWIbthHRoGm7AQWgdj5a5ghEW6obnUB7nnzbFzz1pMC8tQSX/K8JM2F33KDza3pGa8Ia/BVH0wBkZ7+58ffPpj5qK9haqX5T6kQyHWOnnjA5NF+H+GC+RqitPhzBUY9sVS+eeYmeP9eZZY7RGME0npMBbrrm+DqaYAvkxzof0G4RU9YBhRxVvBsHsIiiaH3Qkh7Ivuwb74PrfeUtgGx/JH2JhznQPbZvsk5zgU38PmsxkyycGSgSVQd7CE4u2BKX661HNo2Ih7jwXbcaWgEJ+aWXITmt4z+IGGBskoKSnufGCQJT17LmfopMXcTTZu7gG7scYQUUkGs1zue/42ezXXc4xe7IgrVwuhb7urV4NRJn4DYS6qxE8R/W2KiAKeBgL3nIG7dsDtVcDNhUDLbNqnA7SNAho+BWpHAMVvA+lDgFxC3RCsDvBUSX/K8OtuLo1LLXnNRYL6SWb9zg9e/W25BG3iqfOji0iHX1pz5vee0UL5OpzyE6e9YdOWyT3nvVmrMPrELXy8dJuM7vowmPrWyzX3Xpq5GO2j4QA7nwfs/Xz3YFiCKJocqw8nYG3GTVhmNsMyvQnrih5jxZl8GOjpc2DbbB87xs5h51pFJ8v0vCyZ+MCSq+c9BFH82INkGqw83ZiEz79zwv7oOJg7BGHkrHV4f8pKjiMfhpMJffztZopfGTehid25/5+FThgxdx3v+Qzvf2OHT35yxuode3DgFAnKJrBPg3mZlUv3uEnQW/wU0Z81VS64vh6oWgFc+wEoI2Mpn4T2Im2cDjdFTLgJOvL+BFz5PZD9Bp5nkLlk/DOQNwTL/ANV0p8y/KTNpcrcltdUuuPCp8b9yg8+/WlvJoMhnhrU0e2PvgBzp13477l2eP+LVT20JMHwWWtFuptjzXucYcQ3tvhwmSvMd0TI6E4xg3kZ5kKv9f3J+eRAEFQiN0EUTY7Fe85j4YUaLIyvxcK4GvyUdgffnyjEZ5+N5sC2f0q7zR1j5yygc5ftT+CSgyULSyp5cHR0lG8wGxKgwcrTzUlUWQRgzExz+IYchTClAEVFDcjILIV/eBTGzrHEOCoz/cIiZY5Jz5gUpor3Z5UiIOI4xv1gi7EL7OC7J7rbsWMYP98WGk7H+jSYl2Eu/YmfIvqzCj1A1ckiMpa5eF4yDc8KBUD9/6Dg9FhM/2o7pn65EUXH/hUoHYJnaW/iWepbeJ78FpD1BpYGBKukP2X4Scwl7OtNvGaSssCad3/i6Mkq5wef/rQdkqGzNRWjl+3CGLNV8A2V1WHA7miM+8qKgx9pUqKp7toaR9oaT9rzo/N5decYDcnzSH0bzAs2l4mHb3ATethDVfLAjofyTHWXJIgiyfF14GmYRpfC9FgZtzY7UYG5SW0Y+vEoDmyb7es851gpvg+NhYeHB5dY7DrywI7LNRhq2Als7OtApSk17ieL/DDMZCneo3EvK03fM/6RepCVGLUqFGMsw/C+qQWGTl3CjXlZWdo1HbsGw9hYeOZKDDNdiRHzrPGJQyT+7hSNYV+u5c5lw6dhM5Zj+BwrjN5wAIbsI0TC5z/X9jt+qppLf+OniP6sQiOAiplAkSGeF07A8/xPaCj0X7iX+W8wXzEfq5fOxX0hVSw5/4JnwrfRcel3eHaRqpnU32Cp3y6V9KcMP2YubPr/3jk957r4rgnA5LAybDEP6nHs0igTlfNDnv50nEUPM366JADDpizn9DfUeBGGmizCCOr8PrOK4DDcbE2XpsS6YvobMdcaYzYdwpjNhzH063V4d7YF3mPH6NzhpMPRdqQ77tEBghz9SRnM/RdqLsaRTVxw2LMPvYGVmCH5PYdIlZWVCifHdM9j0I8grnsLaH0FhkcroR0oxL9/NIYD22b72DH9vXQenTvL7zT3Xna93rBx40aeewii+OnRGH0C6z0c2WzTNC6ObNyry2ZMcnMORAJh07G5eQe0NvMUzdg1882i2HU97zFrVx72kHnMDrkiepjseDP33RuG4pvAkvs0nCn9TO/Zx24A1mD8nup+x08Vc2Hob/wU0Z91WBhVL9rA1VF4fuUDPL/8Z9p+C0+zhmCG6RyYms5ARxoNi9J/i46k36M94Q94duEdgKqYxc6evJqTBp/+lOHHzEVA+THZJxeHzSw6DYSZi3FEFQ1/amCyvxb2q4M7jwk/0sX0fVUq50d/9GfAnpaWPG8k56sY+qO/LoOp/eXFmUvUTfqHiunamX1C1z0HIXltnQSlE0TR5DBwjsQn/tn4NCAHn7I14ROfdHwWUsCBbUv2c8cIBi6R3LX7Avu7Pb7PRBw/fcdkaNI4XWdrGnTF37MhmY7d+TAZu5kbJGpcU9dkMhfZGbvsmSORuawV7adeZOqeIkwgUQrYLEsu9qLH6LnJUKyxmUD2VHINPi60ot/xU9Zc2EQ69p7useJDb/FTRH/WYcFUsXwIXP4bnuf+HzzLehMoGIL607/H+iXjsX7xZ7hx/A9AxttoJ2NpP/+v6Ij9N4CqmB/t3WS0xgc+/amaHxOpncOmW2Dz8kAY7WGJ2JUfEw/WY8uaUITPssYXB6r7lR+q6o8zGPa8kdTQXDSpTlSNsKEP9zDjsZsq66/TYPKI4IsyF3aeNpVsioB9AU5I7u1OgpIEqaqq4gSqSHKMt43Auw5xeNcpnnAB7zoStibgby5CDmyb28eOOdE2nTvaJgxWVlZ9gnFITEyU4SeJH3u4TZOVp9vYE7RMDNmi79lg07HZ8x6SR+EphqbuQu6xgE5zIZNj5sJeM3NhlcueuVbc62CqZGZsv8iV350i4RqbrrWLGpsanOuJwsoxNrC03/FT1lzYeXyx4kNv8VNEfw573YE6MpUyqlJKCUUEMhhcEW9fJWTQcRoSIfUtqlzeBhJ/B6S9ieVbHHg1Jw0+/b3u+aGK/vTFJsMZTC9fxaAb3QQNMhpdZlAq6K+rgqmjAL6A4BnuqxPdHHNIVggsiMHZtzoJSieIosmxYrMrZtt545tN3vhusw++2+KD+fZ+Ijj4YYFjABY4BWChUyC+t/fFZIvt+NZiA/cpS19gSXLx4kUZfpL4CaiE1iL+kt5DpjTlYkiNwibTBRcjXPKsEXscgMyF9R67aVwrMhgrroHNwgoQQhUM2xdmskQkFq5dJOWuuG2owSXCGeNT2O/4KWMu7BMjdm+HL1Z86C1+iuhvjt9JeIfMx86gH+ERtISwjLCcXi+H164V8ApeCc8gc+wMXM3Bw3cV3J1/hLfrt5hmG86rOWnw6e91zw9V9MdVIGxSZ2/fUhd5A5pHb0Cb3f+h66miP85gbhLB3Nr7Ax48NhOR3RjjJigpCC0q83alN3cSlCQIK/EHOjnYNksONgFNUbDzL1y4IMNPEj89amBNbuxL5SyLJTWIrjc1BjWEHjWCHhv3ktvrUxxNPdMQbmoBU98sGNAY1oB6D4nB7CaDMTxCpWlkIyZTtRVisAhf2MZw30CmRdfWdiW4ZUOb/oY2tZfOzsvQoUbXISGMcs8btPF7XfU3WPgpoz/OYHZXQEDDGon+DMQGY3iIPcwo0p8G6UrLngyQjEsV/XVWMFlVdwc0eOyhLHZTSotNTpLBJWhuSJALdk5oWlMnQUmCsGdpBjI52EN37Hps8ll3sIcC5YEdj4+Pl+EniR9rhPE0/p3gnAlNtxxoUjy1KJZaPgXQ9iuENsVSm0pKnZAy6FIsdaiBdamBdfdWQ3dfDcJniwwmjAxGi2Kpw75igHot9g1kgq0pMCABGTinw8CV4JYBQ/dMGHpQ9bMzB0ZeuYTL+Nw9d9DG73XV32Dh11/96e+vhR4ZjB4ZzEDpjzOYmuqq1sa2h4jMrMfRzAZEZl/HEcL+9AbsTq1DSHIddl2qR5CwAX7J9QhMvY7QrCb8nNeMIwW3EFnUiqii24guJpQQSttwmF4nFTcjs7wF6QxlPGtu+xbSr0nQipSyW6hrfYCOjnbMnj2bC2B1dXUr+7kL9ukDA/uYk4GN5VlvGBsbi3PnznHrs2fP4vz580hISODOZbMPMzMzkZWVxSE7Oxs5OTnIyMhAfn4+2LftFxcXo6ioqMdasi0BO7ewsJD7KQ/20xsSfnzxi8y5IcLlRkITovJuIupKM6LyWxBd0IKoq7cQVcjAYieKX6G5LWcwhavs/tfH73XS32Dkp4r+XgQ/zmBKy8pa258+wfOnD7vw5CE6Hj/Ak4ciPH30AO2PHnJrhg7CczoujWdSYK/bCU8Vhfi6ovc8wq+//toZwDLi9/TpU3TH48eP8ejRo05Iv2bbT5486RXsHEUhfV0GaX7y4scPig0D/Z/d8ayhFu1bNnFr9vp/e/xeF/0NVn78oL8tT39SYK8Hgh9nMIWFxa337/+C27fZj2O9erS13cWdO23sh5u4AFKvR/zu07GeP+j1KtDW1sb9kFgXP3X8lMHgi5+anzKQ5scZDJW6rexX+W7evPlagD1gxSAJoJqfclDz6x/U/PoHaX6cweTk5LY2NFznvgPidUBdXT3q6xtgampqKeKXQ/zYd1TUvBaoq6sjfvVS/NTxUwaDL35qfspAmh9nMBkZGfeqqqpRXn5NIZSVlaO0tEwp8F1HHioqKrnfL5IEUMSvio6VKwT2Bdfsh8aUAd915IE911NdXd2Nnzp+imJwxk/NT1FI8xvy9ttv/9XFxeXiyZOnbkVFRTcpgpiYmIex7Bv7Y2MVwrlz554fO3aiNSoqqpHvet1x4sSJluDg4KKhQ4cadvE7Sfyi6HjfEPHj58IHEb9jYn7815QGPz91/Oi9/8DxU/NThd8QWv7wxhtvTPrtb3+7hLC4D/z4zjvvLNpgZ5d18MABROzZ0yd+3ruXrR/r6OjseOutN+fzXJMPS4jTLOL2F1X42RG/A8RvD/39vrCX+NFazO+tl8JPHb9/7Pip+cnwG/LPhP8gvKcA/kYY4enpGcfmSLA5FH2BzaeIj49/IhAIFtJ7/yx1rb7wJ8KbBDU/NT8J1Py6MFj4Kb38y8GDB0+xMXRpSUmfKKfxfFlp6RMTE5MZ4ve/6KWTH5vY1RfE9xteCT++eHWHOn49lkETPz4+3aHmJ7v807vvvvu7qKjI0w8ePAD7aKwvsDkPLS0tT6ZNm8ZKJua2L3IR84t6zfmp46fiMkjip+an1PLxxx//5ujRo1bR0cdOkvvFxsaeb8nPL8Dly5f7RF7eFWRlZSMyMjI3Ojr6zPHjxyM2bNigJ770gCxd/KLF/GKJXz4vn+7Iy8vjpsC/HH7q+KmyDJ74qfmptIwcOfI/Dh48VEJCep6RkfksNTXtMY3hHiYnCxVA8kOhUPggIyOjnb2XPdeyZMmSreJLD8gi4ndQzC+D+KWK+SmGLn4ZL5CfOn6qLoMjfmp+/Vn+8Mc//nHaRx99ZDNixAir4cOHryPYKoH19D5r9l66xmq63ieEgSy31Pz6t6j59W9R8+vn8hsCuwP9kRgfqgD2vpGEDwj/ThjIRc2vf4uaX/8WNT/eZciQ/w8ra1QGUAd5eQAAAABJRU5ErkJggg==);
    background-size: 40px 40px;
    background-position: 0 0;
    width: 40px;
    height: 40px;
}
.xstate-noctl-running {
    background-position: -200px 0;
}
.xstate-noctl-running-andfounded {
    background-position: -40px 0;
}
.xstate-noctl-nojiyu {
    background-position: -120px 0;
}
.xstate-ctled-founded {
    background-position: -160px 0;
}
.xstate-ctled-nofound {
    background-position: -240px 0;
}
.xstate-ckend {
    background-position: -80px 0;
}


/* Buttons and links */

.btn {
    display: inline-block;
    padding: 6px 13px;
    background-color: #bababa;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    background-color: #0094ff;
}
.btn-active {
    background-color: #0094ff;
}
.btn-active:hover {
    background-color: #0065c6;
}

.hover-red:hover {
    background-color: #ff6a00;
}

.link{
    color: #54b7ff;
    text-decoration: none;
}
.link:hover, .link:active {
    color: #0094ff;
    text-decoration: underline;
}

/* Texts and positions */

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.text-red {
    color: #f61700;
}
.text-green {
    color: #35a40f;
}

.inline {
    display: inline-block;
}
.right-link {
    display: inline-block;
    position: absolute;
    right: 0;
}
.abs-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
